@model IEnumerable<Request> 

@{
    ViewData["Title"] = "Dashboard";
}
@* 
<link rel="stylesheet" href="~/css/patient/dashboard.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" asp-append-version="true" />
 *@

  @await Html.PartialAsync("patientheader")  



<div class="container-fluid">


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#tab1" class="nav-link" data-bs-toggle="tab"> Dashboard </a>
        </li>
        <li class="nav-item">
            <a href="#tab2" class="nav-link" data-bs-toggle="tab"> Profile </a>
        </li>
    </ul>
    <div class="tab-content">
        <!-- Dashboard -->
        <div class="tab-pane fade show active" id="tab1">
            <h2>Medical History</h2>
            <div class="newrequest bg-secondary">
                <a class="btn btn-outline-info " onclick="location.href='patient-submit-request.html'">
                    <span class="h6 p-0 m-0 text-center" style="color: #10bce9;">Create New Request</span>
                </a>
            </div>
            <br><br>
            <div class="table-responsive large ">
                <table class="table table-hover table-lg" id="table_dashboard">
                    <thead>
                        <tr>
                            <th style="width:20%">Created Date <span>&#8595;</span></th>
                            <th style="width:60%">Current Status</th>
                            <th style="width:20%">Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr>
                                <td>
                                    @obj.Firstname
                                </td>
                                @switch (obj.Status)
                                {
                                    case 1:
                                        <td style="width:60%">
                                            Processing
                                        </td>
                                        break;
                                    case 2:
                                        <td style="width:60%">
                                            Accepted
                                        </td>
                                        break;
                                    case 3:
                                        <td style="width:60%">
                                            Cancelled
                                        </td>
                                        break;
                                    case 4:
                                        <td style="width:60%">
                                            Reserving
                                        </td>

                                        break;
                                    case 5:
                                        <td style="width:60%">
                                            MD Is En Route
                                        </td>
                                        break;
                                    case 6:
                                        <td style="width:60%">
                                            MD On Site
                                        </td>
                                        break;
                                    case 7:
                                        <td style="width:60%">
                                            Follow Up
                                        </td>
                                        break;
                                    case 8:
                                        <td style="width:60%">
                                            Closed
                                        </td>
                                        break;
                                    case 9:
                                        <td style="width:60%">
                                            Locked
                                        </td>
                                        break;
                                    case 10:
                                        <td style="width:60%">
                                            Declined
                                        </td>
                                        break;
                                    case 11:
                                        <td style="width:60%">
                                            Consult
                                        </td>
                                        break;
                                    case 12:
                                        <td style="width:60%">
                                            Clear
                                        </td>
                                        break;
                                    case 13:
                                        <td style="width:60%">
                                            Cancelled By Provider
                                        </td>
                                        break;
                                    case 14:
                                        <td style="width:60%">
                                            CC Uploaded By Client
                                        </td>
                                        break;
                                    case 15:
                                        <td style="width:60%">
                                            CC Approved By Admin
                                        </td>
                                        break;
                                }
                                <td style="width:20%">Docs</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Profile -->
        <div class="tab-pane fade" id="tab2">
        </div>
    </div>
</div>

<script type="text/javascript">

    $(window).on('load', function () {
        new DataTable('#table_dashboard', {
            paging: true,
            ordering:false,
            scrollX:false,
            searching:false
        });
    }); 
</script>
