@model PatientDashboard
@{
    Layout = "_PatientDashboardLayout";
    ViewData["Title"] = "Dashboard";
    ViewData["User Name"] = Model.UserName;
}

@*
<script src="https://cdn.datatables.net/1.13.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.13.10/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.13.10/css/dataTables.bootstrap5.min.css"></script>
 *@

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-dark modal-title text-white" id="exampleModalLongTitle">Create New Request</div>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <form>
                <div class="modal-body">
                    <span class="modal-head">Here, I want to create new request for ...</span>
                    <div class="modal-flex d-flex justify-content-center my-3">
                        <div class="btn create-request-active create-request-btn border border-1 border-info" onclick="toggleCreateRequest(this)"> Me </div>
                        <a id="request-me-anchor" asp-controller="Patient" asp-action="SubmitInfoAboutMe" hidden></a>
                        <div class="btn ms-2 border border-1 someone-else-btn create-request-btn border-info" onclick="toggleCreateRequest(this)"> Some One Else</div>
                        <a id="request-someone-else-anchor" asp-controller="Patient" asp-action="SomeoneElseInfo" hidden></a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal" onclick="redirect()">Continue</button>
                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="px-4">
    <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">

        <h4 class="mt-5">Medical History</h4>

        <div class="shadow dashboard-card mt-4">

            <div class="p-3 d-flex justify-content-end">
                <a class="btn btn-outline-info shadow-none night-mode-btn" data-bs-toggle="modal" data-bs-target="#myModal1">
                    <span>Create New Request</span>
                </a>
            </div>
            <div>
                <table class="table" id="table_dashboard">
                    <colgroup>
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 70%;">
                        <col span="1" style="width: 15%;">
                    </colgroup>

                    <thead class="table-head align-middle">
                        <tr>
                            <th>Created Date</th>
                            <th>Current Status</th>
                            <th>Document</th>
                        </tr>
                    </thead>
                    <tbody class="table-body align-middle">
                        @for (int i = 0; i < Model.Requests.Count; i++)
                        {
                            <tr class="table-row">
                                <td>
                                    @Model.Requests[i].Createddate.ToString("MMM dd, yyyy")
                                </td>
                                <td>@Model.Requests[i].Status</td>
                                <td>
                                    @if (Model.DocumentCount[i] >= 0)
                                    {
                                        <a asp-controller="Patient" asp-action="ViewDocument" asp-route-requestId="@Model.Requests[i].Requestid" class="btn btn-outline-info shadow-none night-mode-btn">
                                            <span>(@Model.DocumentCount[i]) Documents</span>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <div style="height: 20px;"></div>

    </div>

</div>


<script src="/js/site.js"></script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>

<script>
    setTimeout(function () {
        console.log("null successfull");
        TempData["success"] = null;
    }, 5000);
</script>

<script>

    var isMeRequest = true;

    function toggleCreateRequest(element) {
        if (element.classList.contains("someone-else-btn")) {
            isMeRequest = false;
        }
        else {
            isMeRequest = true;
        }

        if (!element.classList.contains("create-request-active")) {
            $(".create-request-btn").removeClass("create-request-active");
            element.classList.add("create-request-active btn-primary");
        }
    }

    function redirect() {

        if (isMeRequest) {
            console.log("hi");
            document.getElementById("request-me-anchor").click();
        }
        else {
            document.getElementById("request-someone-else-anchor").click();
        }

    }


</script>
<script>
    var profile = document.getElementById("profile-tab");
    var dashboard = document.getElementById("dashboard-tab");

    profile.classList.remove("active");
    dashboard.classList.add("active");
</script>


<script type="text/javascript">

    $(window).on('load', function () {
        new DataTable('#table_dashboard', {
            paging: true,
            ordering: false,
            scrollX: false,
            searching: false
        });
    });

</script>