@{
    ViewData["Title"] = "PatientSubmitRequest";
}

<link rel="stylesheet" href="~/css/patient/PatientSubmitRequest.css" asp-append-version="true" />


@await Html.PartialAsync("header")

<div class="mt-3">
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info">
        <span style="color: #10bce9;">&lt; Back</span>
    </a>
</div>

    <div class="row mt-3">
        <div class="d-flex justify-content-center">
            <h1>I am a...</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="d-flex justify-content-center">
        <a class="patient-div selectbtn justify-content-center d-flex align-items-center" asp-controller="RequestPages" asp-action="PatientRequest">
                <h4 class="text-uppercase ">Patient</h4>
            </a>
        </div>
    </div>

    <div class="row mt-4 ">
        <div class="d-flex justify-content-center ">
        <a class="family-friend-div selectbtn justify-content-center d-flex align-items-center" asp-controller="RequestPages" asp-action="FamilyFriendRequest">
                <h4 class="text-uppercase ">Family/Friend</h4>
            </a>
        </div>
    </div>

<div class="row mt-4 ">
    <div class="d-flex justify-content-center ">
        <a class="concierge-div selectbtn justify-content-center d-flex align-items-center" asp-controller="RequestPages" asp-action="ConciergeRequest">
            <h4 class="text-uppercase ">Concierge</h4>
        </a>
    </div>
</div>

<div class="row mt-4 ">
    <div class="d-flex justify-content-center ">
        <a class="business-partners-div selectbtn justify-content-center d-flex align-items-center" asp-controller="RequestPages" asp-action="BusinessRequest">
            <h4 class="text-uppercase ">Business Partners</h4>
        </a>
    </div>
</div>
