<link rel="stylesheet" href="~/css/patient/reviewagreement.css" asp-append-version="true" />



<div class="container agreement">

    <p>
        To provide best medical service, we cannot determine the cost right away. If you agree to our service, so we will provide care and follow-up until all care is completed. So with these points, if you would like us to provide care to you, Click on "Agree" and we'll get started immediately, if you do not agree simply click "Cancel".
    </p>
    <div class="btns">

        <button class="btn btn-success" type="submit">Agree</button>
        <button class="btn btn-danger" type="submit">Cancel</button>
    </div>

</div>
