<div class="modal fade" id="requestSupportModal" tabindex="-1" aria-labelledby="newReqModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #01bce9; color:white;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Request Support</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <h6>To all unscheduled physicians: We are short on coverage and need additional support On Call to respond to Requests.</h6>
                    <div class="form-floating m-1 form-div">
                        <textarea class="form-control" id="Message" placeholder="Leave a comment here"
                                  style="height: 100px"></textarea>
                        <label for="Message">Message</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="request-support-submit-btn" class="btn" style="background-color: #01bce9; color:white;" data-bs-dismiss="modal">Confirm</button>
                <button type="button" class="btn" style="color: #01bce9; border: #01bce9 1px solid;" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#request-support-submit-btn').click(function () {
        var message = $("#Message").val();
        console.log("hello")
        debugger
        $.ajax({
            url: "/Admin/RequestSupportModal",
            data: {
                Message: message
            },
            type: 'POST',
            success: function (result) {
                $('#display').html(result);
                $('#requestSupportModal').modal('show');
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request')
            },
        });
    });
</script>