@{
    Layout = "_AdminDashboardLayout";
}
@model EncounterModel;
<div class="container mt-2">
    <div class="justify-content-between d-flex container-fluid mb-2 position-relative ">
        <div class="">
            <h3> Encounter Form <span class="badge badge-success p-2">Success</span> </h3>
        </div>
        <div>
            <a asp-action="AdminDashboard" class="btn btn-outline-info"> ❮  Back </a>
        </div>
    </div>
    <div class="card border-0 shadow p-4 mb-5  rounded">
        <form method="post" class="row g-3 " enctype="multipart/form-data">
            <div class="text-center text-info ">
                <h1 class="fw-bold my-2">Medical Report - Confidential</h1>
            </div>
            <input asp-for="ReqClientid" name="RequesClientid" type="hidden">
            <input type="hidden" asp-for="Requestid" />
            <input type="hidden" asp-for="EncounterId" />
             

            <div class="col-md-6 form-floating  ">
                <input asp-for="FirstName" class="form-control rounded" name="FirstName" type="text" placeholder="First Name" autocomplete=off>
                <label class="" for="floatingInput">First Name </label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="LastName" class="form-control rounded" name="LastName" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Last Name </label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-floating  ">
                <textarea asp-for="Location" class="form-control rounded" name="Location" type="text" rows="4" cols="50" placeholder=Suchtext autocomplete=off></textarea>
                <label asp-for="Location" for="Symptoms"> Location </label>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="DateOfBirth" class="form-control rounded" name="BirthDate" type="date" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Birth Date </label>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="Date" class="form-control rounded" name="Date" type="date" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Birth Date </label>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating ">
                <input asp-for="PhoneNumber" id="phone" type="tel" name="PhoneNumber" class="form-control rounded" autocomplete=off>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating ">
                <input id="email" asp-for="Email" class="form-control rounded" name="Email" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Email </label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-floating  ">
                <input asp-for="PatientHistory" class="form-control rounded" name="HistoryOfP" type="text" placeholder=Suchtext autocomplete=off>
                <label asp-for="PatientHistory" for="Symptoms"> Patient Notes </label>
                <span asp-validation-for="PatientHistory" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating  ">
                <input asp-for="MedicalHistory" class="form-control rounded" name="HistoryOfMedical" type="text" placeholder=Suchtext autocomplete=off>
                <label asp-for="MedicalHistory" for="Symptoms"> History Of Medical </label>
                <span asp-validation-for="MedicalHistory" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-floating  ">
                <input asp-for="Medications" class="form-control rounded" name="Medications" type="text" placeholder=Suchtext autocomplete=off>
                <label asp-for="Medications" for="Symptoms"> Patient Notes </label>
                <span asp-validation-for="Medications" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating  ">
                <input asp-for="Allergies" class="form-control rounded" name="Allergies" type="text" placeholder=Suchtext autocomplete=off>
                <label asp-for="Allergies" for="Symptoms"> Patient Notes </label>
                <span asp-validation-for="Allergies" class="text-danger"></span>
            </div>



            <div class="col-md-4 form-floating ">
                <input asp-for="Temp" class="form-control rounded" name="Temp" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Street </label>
                <span asp-validation-for="Temp" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-floating ">
                <input asp-for="Hr" class="form-control rounded" name="Hr" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Street </label>
                <span asp-validation-for="Hr" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-floating ">
                <input asp-for="Rr" class="form-control rounded" name="Rr" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Street </label>
                <span asp-validation-for="Rr" class="text-danger"></span>
            </div>
            <div class="col-md-2 form-floating ">
                <input asp-for="BloodPressureS" class="form-control rounded" name="BloodPressureS" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Blood Pressure S </label>
                <span asp-validation-for="BloodPressureS" class="text-danger"></span>
            </div>
            <div class="col-md-2 form-floating ">
                <input asp-for="BloodPressureD" class="form-control rounded" name="BloodPressureD" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Blood Pressure D </label>
                <span asp-validation-for="BloodPressureD" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-floating ">
                <input asp-for="O2" class="form-control rounded" name="O2" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">O2 </label>
                <span asp-validation-for="O2" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-floating ">
                <input asp-for="Pain" class="form-control rounded" name="Pain" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Pain </label>
                <span asp-validation-for="Pain" class="text-danger"></span>
            </div>



            <div class="col-md-6 form-floating  ">
                <input asp-for="Heent" class="form-control rounded" name="Heent" type="text" placeholder="First Name" autocomplete=off>
                <label class="" for="floatingInput">Heent </label>
                <span asp-validation-for="Heent" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="CV" class="form-control rounded" name="CV" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput"> CV </label>
                <span asp-validation-for="CV" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating  ">
                <input asp-for="Chest" class="form-control rounded" name="Chest" type="text" placeholder="First Name" autocomplete=off>
                <label class="" for="floatingInput">Chest </label>
                <span asp-validation-for="Chest" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="ABD" class="form-control rounded" name="ABD" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">ABD </label>
                <span asp-validation-for="ABD" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating  ">
                <input asp-for="Extr" class="form-control rounded" name="Extr" type="text" placeholder="First Name" autocomplete=off>
                <label class="" for="floatingInput">Extr </label>
                <span asp-validation-for="Extr" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="Skin" class="form-control rounded" name="Skin" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Skin </label>
                <span asp-validation-for="Skin" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating  ">
                <input asp-for="Neuro" class="form-control rounded" name="Neuro" type="text" placeholder="First Name" autocomplete=off>
                <label class="" for="floatingInput">Neuro </label>
                <span asp-validation-for="Neuro" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="Other" class="form-control rounded" name="Other" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Other </label>
                <span asp-validation-for="Other" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating  ">
                <input asp-for="Diagnosis" class="form-control rounded" name="Diagnosis" type="text" placeholder="First Name" autocomplete=off>
                <label class="" for="floatingInput">Diagnosis </label>
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="Treatment" class="form-control rounded" name="Treatment" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Treatment </label>
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="MedicationsDispensed" class="form-control rounded" name="MedicationsDispensed" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Medications Dispensed </label>
                <span asp-validation-for="MedicationsDispensed" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="Procedures" class="form-control rounded" name="Procedures" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Procedures </label>
                <span asp-validation-for="Procedures" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-floating">
                <input asp-for="Followup" class="form-control rounded" name="Followup" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Followup </label>
                <span asp-validation-for="Followup" class="text-danger"></span>
            </div>

            <div class="card-footer border-0 bg-transparent text-end">
                <button type="submit" class="btn btn-info text-white">Save Changes</button>
                <a class="btn btn-outline-danger btn-cancel " asp-action="AdminDashboard" asp-controller="Admin">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
