@model ViewCaseViewModel;

@{
    Layout = "_AdminDashboardLayout";
}

<div class="container-fluid d-flex justify-content-center row ">

    <div class="col-8">

        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex">
                <h4>View Reservation</h4>
                <span class="ms-2 px-4 btn text-white fw-bold"
                      style="background-color: #60bb5d; border-radius: 30px;">Patient</span>
            </div>

            <a href="@Url.Action("AdminDashboard")" class="btn btn-outline-info shadow-none night-mode-btn d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 -960 960 960">
                    <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z" />
                </svg>
                <span>Back</span>
            </a>

        </div>

        <form method="post">
            <input asp-for="@Model.Requestclientid" hidden />
            <div class="shadow p-3 dashboard-card mt-4">

                <h4>Patient Information </h4>
                <span class="m-0 fw-normal" style="color:grey;">ConfirmationNumber</span>
                <h4 class="text-info m-0">MKHOIFDSOIAH</h4>


                <div class="row">

                    <div class="col-12">

                        <div class="form-floating mt-3">
                            <textarea asp-for="Notes" style="height:100px" class="form-control" placeholder="Leave a comment here" disabled
                                      id="floatingTextarea2"></textarea>
                            <label for="floatingTextarea2">Patient Notes</label>
                        </div>

                    </div>

                </div>

                <hr class="mt-3 mb-0" />

                <div class="row">

                    <div class="col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="Firstname" class="form-control" placeholder="Leave a comment here" disabled
                                   id="floatingTextarea2">
                            <label for="floatingTextarea2">First Name</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="Lastname" class="form-control" placeholder="Leave a comment here" disabled
                                   id="floatingTextarea2">
                            <label for="floatingTextarea2">Last Name</label>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-6 col-12">

                        <div class="form-floating mt-3">

                            <input asp-for="DateOfBirth" class="form-control" placeholder="Leave a comment here" type="date"
                                   id="floatingTextarea2" disabled>
                            <label for="floatingTextarea2">Date of Birth:</label>

                        </div>

                    </div>

                    <div class="col-md-5 col-12">

                        <div class="form-floating d-flex mt-3">
                            <input id="patient-phone" class="py-4 form-control" type="tel" asp-for="Phonenumber" disabled />
                        </div>

                    </div>

                    <div class="col-1 mt-3">

                        <button type="button" class="btn btn-outline-info w-100 h-100" style="color: #10bce9;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" fill="currentColor" viewBox="0 -960 960 960" width="24">
                                <path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                            </svg>
                        </button>

                    </div>

                </div>


                <div class="row">

                    <div class="col-md-6 col-12">

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="floatingInputemail" placeholder="name@example.com" asp-for="Email" oninput="checkUser()" disabled />
                            <label for="floatingInputemail">Email address</label>
                        </div>

                    </div>

                </div>

                <h4 class="mt-4">Location Information</h4>

                <div class="row">

                    <div class="col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="State" class="form-control" placeholder="Leave a comment here" disabled
                                   id="floatingTextarea2" />
                            <label for="floatingTextarea2">Region</label>
                        </div>
                    </div>

                    <div class="col-md-5 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="Street" class="form-control" placeholder="Leave a comment here" disabled />
                            <label for="floatingTextarea2">Name/Address</label>
                        </div>
                    </div>

                    <div class="col-1 mt-3">

                        <button type="button" class="btn btn-outline-info w-100 h-100" style="color: #10bce9;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" fill="#10bce9" width="24"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z" /></svg>

                        </button>

                    </div>

                    <div class="col-md-6 col-12">

                        <div class="form-floating mt-3">

                            <input asp-for="Room" class="form-control" placeholder="Leave a comment here" disabled
                                   id="floatingTextarea2">
                            <label for="floatingTextarea2">Rooms(Optional)</label>

                        </div>

                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-end mt-3">

                <button id="viewNotesBtn" type="button" class="btn py-2 px-4 mx-2" style="background-color: #10bce9; color: white;" onclick="assignCase(@Model.Requestclientid)">
                    Assign
                </button>

                <button id="viewNotesBtn" type="button" onclick="location.href='@Url.Action("ViewNotes", new {reqClientId = Model.Requestclientid})'" class="btn py-2 px-4 mx-2" style="background-color: #10bce9; color: white;">
                    View Notes
                </button>

                <button id="cancelBtn" onclick="" type="button" class="btn py-2 px-4 ms-3 bg-danger" style="background-color: #10bce9; color: white;">
                    Cancel
                </button>
            </div>
        </form>

    </div>

</div>


<div style="height: 20px;"></div>
<div id="display"></div>



<script>
    const phoneInputField = document.getElementById("patient-phone");
    var patientPhoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        initialCountry: "in"
    });
    function changeCountryCode() {
        var countryCode = document.getElementById("patient-phone-country");
        countryCode.value = patientPhoneInput.getSelectedCountryData().dialCode;
        console.log(countryCode.value);
    }
</script>
<script>
    function assignCase(reqClientId) {
        $.ajax({
            url: "/Admin/AssignCaseModal",
            data: { requestClientId: reqClientId },
            type: 'GET',
            success: function (result) {
                $('#display').html(result);
                $('#assignModal').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request')
            },
        });
    }
</script>