@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "User Access";
}
<h1>User access</h1>
<script>
    $('.admin-tab').removeClass("active");
    $('#access-tab').addClass("active");
</script>