@{
    Layout = "_AdminDashboardLayout";
    // ViewData["Title"] = "Admin Dashboard";
}
<link rel="stylesheet" href="~/css/Admin/AdminDashboard.css" asp-append-version="true" />


<h1>provider location</h1>
<script>
    $('.admin-tab').removeClass("active");
    $('#provider-location-tab').addClass("active");
</script>