
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../../images/bg-image.png);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header{
    display:flex;
    align-items:center;
    justify-content:center;
}

.logo{
    height:150px;
    width:300px;
    
}

#togglebtn-icon {
    position: fixed;
    top: 2%;
    right: 2%;
    height: 40px;
    width: 40px;
}
a {
    cursor: pointer;
}
