
.iti {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
    height: 59px;
}

.iti__country-list {
    z-index: 5;
}
