@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Partners";
}

<h1>Partners</h1>
<script>
    $('.admin-tab').removeClass("active");
    $('#partner-tab').addClass("active");
</script>