
<header>
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <img src="../../images/logo.png" alt="logo_icon" id="logo-icon" />
        <div class="d-flex justify-content-evenly align-items-center">
            <p class="m-2">Welcome <strong> @ViewData["User Name"] </strong></p>
            <a class="btn btn-outline-info mx-2" asp-controller="Admin" asp-action="Logout">
                <span class="h6 p-0 m-0 text-center" style="color: #10bce9;">Logout</span>
            </a>
            <img src="../../images/darkmode.png" alt="" onclick="myFunction()" class="lightmode" id="togglebtn-icon" />
        </div>
    </div>
</header>
<hr class="m-0">

<ul class="nav nav-pills ps-4 shadow" id="myTab" role="tablist">
    <li class="nav-item active" role="presentation">
        <a class="nav-link px-0 admin-tab" asp-controller="Admin" asp-action="AdminDashboard" id="dashboard-tab">
            <span class="tabHeader py-2 px-3">Dashboard</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link px-0 admin-tab" asp-controller="Admin" asp-action="ProviderLocation" id="provider-location-tab">
            <span class="tabHeader py-2 px-3">Provider Location</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link px-0 admin-tab" asp-controller="Admin" asp-action="AdminProfile" id="profile-tab">
            <span class="tabHeader py-2 px-3">My Profile</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <div class="dropdown">
            <button class="nav-link dropdown-toggle text-black" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Providers
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="ProviderMenu">Provider</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="AdminProfile">Scheduling</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="AdminProfile">Invoicing</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link px-0 admin-tab" asp-controller="Admin" asp-action="Partners" id="partner-tab">
            <span class="tabHeader py-2 px-3">Partners</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link px-0 admin-tab" asp-controller="Admin" asp-action="Access" id="access-tab">
            <span class="tabHeader py-2 px-3">Access</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link px-0 admin-tab" asp-controller="Admin" asp-action="Records"  id="record-tab">
            <span class="tabHeader py-2 px-3">Records</span>
        </a>
    </li>
</ul>


<script>
    myFunction = () => {
        var element = document.body;
        element.classList.toggle("dark-mode");
        var img = element.querySelector(".lightmode")
        img.src.includes("darkmode") ? img.src = "../../images/lightmode.png" : img.src = "../../images/darkmode.png";
    }
</script>