<link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />


<header class="shadow">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <img src="../../images/logo.png" alt="logo_icon" id="logo-icon">
        <img src="../../images/darkmode.png" alt="" onclick="myFunction()" class="lightmode" id="togglebtn-icon">
    </div>
</header>