
<header class="shadow">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <img src="../../images/logo.png" alt="logo_icon" id="logo-icon" />
        <div class="d-flex justify-content-evenly align-items-center">
            <p class="m-2">Welcome <strong> @ViewData["User Name"] </strong></p>
            <a class="btn btn-outline-info mx-2" asp-controller="Patient" asp-action="Logout">
                <span class="h6 p-0 m-0 text-center" style="color: #10bce9;">Logout</span>
            </a>
            <img src="../../images/darkmode.png" alt="" onclick="myFunction()" class="lightmode" id="togglebtn-icon" />
        </div>
    </div>
</header>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a asp-controller="Patient" asp-action="Dashboard" class="nav-link active"> Dashboard </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Patient" asp-action="Profile" class="nav-link"> Profile </a>
    </li>
</ul>

<script>

    $(document).ready(function () {
        $('.nav-link').on('click', function () {
            // Remove the active class from all nav links
            $('.nav-link').removeClass('active');

            // Add the active class to the clicked nav link
            $(this).addClass('active');
        });
    });
</script>
<script>
    myFunction = () => {
        var element = document.body;
        element.classList.toggle("dark-mode");
        var img = element.querySelector(".lightmode")
        img.src.includes("darkmode") ? img.src = "~/wwwroot/images/lightmode.png" : img.src = "~/wwwroot/images/darkmode.png";
    }
</script>