

<header class="shadow">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <img src="../../images/logo.png" alt="logo_icon" id="logo-icon" />
        <p>Welcome <strong>Test Testing</strong></p>
        <a class="btn btn-outline-info " onclick="location.href='patient-submit-request.html'">
            <span class="h6 p-0 m-0 text-center" style="color: #10bce9;">Logout</span>
        </a>
        <img src="../../images/darkmode.png" alt="" onclick="myFunction()" class="lightmode" id="togglebtn-icon" />
    </div>
</header>