<link rel="stylesheet" href="~/css/warningModal.css" asp-append-version="true" />



<div class="modal fade" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body row">
                <div class="col-12 align-items-center justify-content-center d-flex">
                    <div class="warning-icon">
                        <img src="../../images/warning-icon.svg" alt="" id="warning-icon">
                    </div>
                </div>
                <div class="col-12 justify-content-center d-flex">Information</div><br>
                <div class="col-12">When submitting a request, you must provide the correct contact information about the patient or the responsible party. Failure to provide correct phone number and email will delay service or be declined.</div>
                <div class="col-12 justify-content-center d-flex">
                    <button class="btn btn-outline-info" id="closebtn" data-dismiss="modal" onclick="closeModal()">
                        OK
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>